.arbb-container {
  text-align: center;
  margin-top: 1rem;
}

.arbb-container .arbb-select-container select {
  background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 15px top 55%;
  max-width: 100%;
  text-align: center;
  width: 81%;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  background-color: #1f1a25;
  margin-top: 1rem;
  margin: auto;
  line-height: 1.5;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  border: none;
  -webkit-box-shadow: inset 0 0 0 4px #58afd1;
          box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.arbb-container .arbb-select-container select::before, .arbb-container .arbb-select-container select::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.arbb-container .arbb-select-container select::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.arbb-container .arbb-select-container select::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.arbb-container .arbb-select-container select:hover {
  color: #ffe593;
}

.arbb-container .arbb-select-container select:hover::before, .arbb-container .arbb-select-container select:hover::after {
  border-color: #ffe593;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.arbb-container .arbb-select-container select:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.arbb-container .arbb-select-container select:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.arbb-container .arbb-select-container select option {
  font: 700 1.2rem "Roboto Slab", sans-serif;
  line-height: 1.5;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
}

.arbb-container .arbb-button-container button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  background-color: #1f1a25;
  width: 81%;
  margin-top: 1rem;
  -webkit-box-shadow: inset 0 0 0 4px #58afd1;
          box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.arbb-container .arbb-button-container button::before, .arbb-container .arbb-button-container button::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.arbb-container .arbb-button-container button::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.arbb-container .arbb-button-container button::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.arbb-container .arbb-button-container button:hover {
  color: #ffe593;
}

.arbb-container .arbb-button-container button:hover::before, .arbb-container .arbb-button-container button:hover::after {
  border-color: #ffe593;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.arbb-container .arbb-button-container button:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.arbb-container .arbb-button-container button:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.arbb-container .arbb-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 1rem;
  border: 2px solid #58afd1;
}

.arbb-container .arbb-info-container .image-name-info {
  width: 80%;
  text-align: left;
  padding: 0.5rem;
}

.arbb-container .arbb-info-container .image-response-success-info {
  width: 10%;
  border: 2px solid #3a7a02;
  padding: 0.5rem;
  color: #3a7a02;
  font-weight: bold;
}

.arbb-container .arbb-info-container .image-response-fail-info {
  width: 10%;
  border: 2px solid #c60606;
  padding: 0.5rem;
  color: #c60606;
  font-weight: bold;
}

.arbb-container .arbb-info-container .image-response-already-info {
  width: 10%;
  border: 2px solid #746905;
  padding: 0.5rem;
  color: #746905;
  font-weight: bold;
}
/*# sourceMappingURL=admin.css.map */