.arbb-container {
  text-align: center;
  margin-top: 1rem;
  @mixin btn-border-drawing(
    $color: #ccc,
    $hover: black,
    $width: 2px,
    $vertical: top,
    $horizontal: left,
    $duration: 0.25s
  ) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration $duration/3;
    position: relative;

    &::before,
    &::after {
      border: 0 solid transparent;
      box-sizing: border-box;
      content: "";
      pointer-events: none;
      position: absolute;
      width: 0;
      height: 0;

      #{$vertical}: 0;
      #{$horizontal}: 0;
    }

    &::before {
      $h-side: if($horizontal == "left", "right", "left");

      border-#{$vertical}-width: $width;
      border-#{$h-side}-width: $width;
    }

    &::after {
      $v-side: if($vertical == "top", "bottom", "top");

      border-#{$v-side}-width: $width;
      border-#{$horizontal}-width: $width;
    }

    &:hover {
      color: $hover;

      &::before,
      &::after {
        border-color: $hover;
        transition: border-color 0s, width $duration, height $duration;
        width: 100%;
        height: 100%;
      }

      &::before {
        transition-delay: 0s, 0s, $duration;
      }

      &::after {
        transition-delay: 0s, $duration, 0s;
      }
    }
  }

  .arbb-select-container {
    select {
      background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 15px top 55%;
      max-width: 100%;
      text-align: center;
      width: 81%;
      font: 700 1.2rem "Roboto Slab", sans-serif;
      padding: 1em 2em;
      letter-spacing: 0.05rem;
      background-color: #1f1a25;
      margin-top: 1rem;
      margin: auto;
      line-height: 1.5;
      transition: color 0.25s 0.0833333333s;
      position: relative;
      border: none;
      @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);

      option {
        font: 700 1.2rem "Roboto Slab", sans-serif;
        line-height: 1.5;
        transition: color 0.25s 0.0833333333s;
      }
    }
  }

  .arbb-button-container {
    button {
      background: none;
      border: none;
      cursor: pointer;
      line-height: 1.5;
      font: 700 1.2rem "Roboto Slab", sans-serif;
      padding: 1em 2em;
      letter-spacing: 0.05rem;
      background-color: #1f1a25;
      width: 81%;
      margin-top: 1rem;
      @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
    }
  }

  .arbb-info-container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
    border: 2px solid #58afd1;

    .image-name-info {
      width: 80%;
      text-align: left;
      padding: 0.5rem;
    }

    .image-response-success-info {
      width: 10%;
      border: 2px solid #3a7a02;
      padding: 0.5rem;
      color: #3a7a02;
      font-weight: bold;
    }

    .image-response-fail-info {
      width: 10%;
      border: 2px solid #c60606;
      padding: 0.5rem;
      color: #c60606;
      font-weight: bold;
    }


    .image-response-already-info {
      width: 10%;
      border: 2px solid #746905;
      padding: 0.5rem;
      color: #746905;
      font-weight: bold;
    }
  }

}